List((
    texture_width: 4000,
    texture_height: 1500,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 2000,
            height: 1500,
        ),
        (
            x: 2001,
            y: 0,
            width: 2000,
            height: 1500,
        ),
    ],
))