/*!
    @import /amethyst_input/src/bindings.rs#Bindings, StringBindings
    Bindings<StringBindings>
*/

(
    axes: {
        "mouse_scroll": MouseWheel(horizontal: false),
        "entity_x": Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
        "entity_y": Emulated(
            pos: Key(W),
            neg: Key(S),
        ),
    },
    actions: {
        "mine": [ [Mouse(Right)], ], // Multiple bindings for one action
    }
)